body {
  padding-top: 50px;
}

.navbar-nav li {
  text-align: center;
  background-color: #123456;
  color: #fff;
}

.navbar-nav li:hover {
  background-color: #fff;
  color: #555;
}

.container section {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
}

#main-header {
  margin-bottom: 20px;
}
